body {
	/*background-image: url("../images/wall2.jpg");*/
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

#header {
	padding: 70px;
	width: 100%;
	
	background-image: url("../images/sky1.png");
	background-repeat: repeat-x;
	
}

h1{
	text-align: center;
	font-size: 90px;
	font-family: 'Yatra One', cursive;
	color: white;
	font-weight: bolder;
	text-shadow: 4px 4px black;
	
	margin-right: 100px;
}

h2 {
	font-size: 60px;
	text-align: center;
	font-family: 'Yatra One', cursive;
	color: white;
	font-weight: bolder;
	text-shadow: 4px 4px black;
	
	
}

h3 {
	font-size: 40px;
	text-align: center;
	font-family: 'Yatra One', cursive;
	color: white;
	font-weight: bolder;
	text-shadow: 2px 2px black;
	
	margin-right: 100px;
}

#contentbox {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 15px;
	
	width: 50%;	
	
	margin-left: 23%;
	
}

table {
/* 	margin-left: 20%; */
	width: 99%;
	font-size: 25px;
	font-color: black;
	border: 1px solid;
	align:center;
}

#lisaa_oma {
	align: center;
	margin-left: 45%;
}

tr {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	position:relative;
}

th {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	margin-right: 10px;
	margin-bottom: 15px;
	
}

td {
	height:100%;
	
}


#buttonbox {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 15px;
	
	width: 100%;	
	
	margin-left: 23%;
}

#pallobutton {
	width: 25%;
}

#palloA {
	width: 350px;
	height: 150px;
	padding-bottom: 10%;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin-right: 250px;
	margin-bottom: 10px;
	
	background-image: url("../images/football.png");
	box-shadow: 5px 5px 5px gray;
}

#palloB {
	width: 350px;
	height: 150px;
	padding-bottom: 10%;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 10px;
	
	background-image: url("../images/knitting.png");
	box-shadow: 5px 5px 5px gray;
}

#palloC {
	width: 350px;
	height: 150px;
	padding-bottom: 10%;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin-right: 250px;
	
	background-image: url("../images/salibandy.png");
	box-shadow: 5px 5px 5px gray;
}

#palloD {
	width: 350px;
	height: 150px;
	padding-bottom: 10%;
	border-radius: 50%;
	overflow: hidden;
	
	background-image: url("../images/cooking.png");
	box-shadow: 5px 5px 5px gray;
}

.pallobutton a {
	display: block;
	float: left;
	width: 100%;
	padding-top: 50%;
	padding-bottom: 50%;
	line-height: 1em;
	margin-top: -0.5em;
	
	text-align: center;
	color: black;
	font-family: 'Yatra One', cursive;
	font-size: 50px;
	text-decoration: none;
}

/*#pallo {
	background-image: url("../images/ball.png");
	border-radius: 50%;
	margin-right: 2%;
	box-shadow: 5px 5px 5px gray;
	border: solid 1px white;
	height: 175px;
	width: 350px;
	text-align: center;
	padding-top: 80px;
	font-family: 'Yatra One', cursive;
	font-size: 50px;
	color: white;
}*/