body {
	/*background-image: url("../images/wall2.jpg");*/
	width:100%;
	height:100%;
}

#header {
	padding: 70px;
	width: 92%;
	margin-bottom: 25px;
	
	background-image: url("../images/sky1.png");
	background-repeat: repeat-x; 
}

h1{
	text-align: center;
	font-size: 90px;
	font-family: 'Yatra One', cursive;
	color: white;
	font-weight: bolder;
	text-shadow: 4px 4px black;
}

h2 {
	font-size: 60px;
	text-align: center;
	font-family: 'Yatra One', cursive;
	color: white;
	font-weight: bolder;
	text-shadow: 4px 4px black;
}

h3 {
	font-size: 40px;
	text-align: center;
	font-family: 'Yatra One', cursive;
	color: white;
	font-weight: bolder;
	text-shadow: 2px 2px black;
}

#contentbox {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 15px;

	border-color: #333333;
	border-width: 1px;
	border-style: dashed;
	
	width: 50%;	
	
	margin-left: 23%;
	
}

table {
/* 	margin-left: 20%; */
	width: 99%;
	font-size: 25px;
	font-color: black;
	border: 1px solid;
	align:center;
}

#lisaa_oma {
	align: center;
	margin-left: 45%;
}

tr {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	position:relative;
}

th {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	margin-right: 10px;
	margin-bottom: 15px;
}

td {
	height:100%;
	
}

.dropbtn {
    background-color: #f0f0f0;
    color: black;
    padding: 20px;
    font-size: 16px;
    border: solid;
    border-color: #006f93;
    cursor: pointer;
    font-family: 'Yatra One', cursive;
    font-variant:small-caps; 
  
  	
}

.navdrop {
    position: relative;
    display: inline-block;
   
}

.navdrop-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
 
    
    border: solid;
    border-color: #006f93;
    font-family: 'Yatra One', cursive;
    font-variant:small-caps; 
}

.navdrop-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.navdrop-content a:hover {
	background-color: grey;
	}
	
.navdrop-content a.active {
	background-color: #006f93;
	color: white;
}	

.navdrop:hover .navdrop-content {
    display: block;
}

.navdrop:hover .dropbtn {
    background-color: #006f93;
    font-variant:small-caps; 
    color: white;
}

.kalenteri {
	padding-right: 180px;
}



/* --- */



/* define a fixed width for the entire menu */
.mainmenu {
  width: 100%;
  float:left;
  position:static;
  display: inline-block;
  height:100%;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu{
	display:block;
	position:absolute;
	z-index: 999;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #CCC; 
  text-decoration: none;
  padding: 10px;
  color: #000;
  height:100%;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #C5C5C5;
}

/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/
.submenu a {
  background-color: #999;
  z-index: 99;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

