<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
	
	
	
<!-- 	<import resource="spring-data.xml" /> -->

	<context:property-placeholder location="classpath*:/db_connection.properties" />
	
	<bean id="HarrastusDAOJdbcImpl" class="sovellus.dao.HarrastusDAOJdbcImpl">
    	<property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    <bean id="OsallistujaDAOJdbcImpl" class="sovellus.dao.OsallistujaDAOJdbcImpl">
    	<property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
			<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- SPRING SECURITY -->

	<sec:http auto-config="true" use-expressions="true">
		
		<sec:intercept-url pattern="/secure/admin/**" access="hasRole('ROLE_ADMIN')" />
		<sec:intercept-url pattern="/secure/*" access="isAuthenticated()" />
		<sec:intercept-url pattern="/*" access="permitAll" />

		<sec:form-login
			login-page="/login"
			default-target-url="/secure/admin"
			authentication-failure-url="/loginfail" />
			
		<sec:logout logout-success-url="/logout" />
		
	</sec:http>
	
	<bean id="encoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder" />


	<sec:authentication-manager>
		<sec:authentication-provider>
			<sec:password-encoder ref="encoder" />
			<sec:jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username, password_encrypted, enabled from KAYTTAJA where username=? and enabled = 1"/>
			</sec:authentication-provider>
	</sec:authentication-manager>

	<sec:global-method-security pre-post-annotations="enabled" />
	


</beans>
